<!DOCTYPE html>
<html>
<head>
	<title>条件渲染 if - else - show</title>
	<meta charset="utf-8">
</head>
<script src="vue.js"></script>
<body>
<div id="condition">
<!-- 一般来说， v-if 有更高的切换消耗而 v-show 有更高的初始渲染消耗。因此，如果需要频繁切换使用 v-show 较好，如果在运行时条件不大可能改变则使用 v-if 较好。 -->
	<div v-if="ok">yes</div>
	<div v-else>no</div> <!-- v-else 必须跟在v-if 后面-->
	<template v-if="show"> <!-- template不会被渲染 -->
		<h1>Hello 啊大家</h1>
		<h2>Hello 啊大家</h2>
		<h3>Hello 啊大家</h3>
		<h4>Hello 啊大家</h4>
		<h5>Hello 啊大家</h5>
		<h6>Hello 啊大家</h6>
	</template>
	<h1 v-show="ok">v-show 是display的操作，会渲染并出现在DO</h1>
	<h1 v-吧="!ok">v-show 是display的操作,会渲染并出现在DOM</h1>
</div>
</body>
<script type="text/javascript">
	var vm = new Vue({
		el: '#condition',
		data: {
			ok: false,
			show: true
		}
	})
</script>
</html>